.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container > * {
    flex: 1;
    display: flex;
    align-items: center;
}
.back_title {
    font-size: .85rem;
}
.center {
    justify-content: center;
}
.center > * {
    font-size: 1.3rem;
}
.left {
    justify-content: end;   
}
