.form {
    width: 100%;
}
.form > div {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.form > * > * {   
    width: 50%;
    flex-grow: 1;
    padding: 10px;
}
.form select {
    background-color: #fff0;
    color: #eee;
    width: 100%;
    font-size: 1.2rem;
    border-bottom: 1px solid #ddd;
    transition: .4s;
}
.form select:focus {
    border-bottom: 1px solid #209aec;
}