#main {
    padding-bottom: 70px;
}

.top {
    width: 100%;
    height: 40px;
    padding: 0 calc(5% + 5px);
    background-color: #080808;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
}