.item {
    height: 100%;
    flex-grow: 1;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    border: 1px solid #252525;
    font-size: 1.2rem;
    color: #eee;
    padding: 12px 15px;
    border-radius: 10px;
}

#selected {
    background-color: #222;
    border: 1px solid #0288e0;
}