.container {
    background-color: #111;
    border-radius: 10px;
    height: 100%;
    padding: 5px 20px;
    width: 180px;
}
.container > * {
    width: 100%;
    gap: 8px;
    padding: 8px 0;
    justify-content: start;
    font-size: .85rem;
}
.edit_btn {
    border-bottom: 1px solid #222;
    justify-content: space-between;
    color: #999;
    transition: .3s;
}
.edit_btn:hover {
    color: #777;
}

.logout_btn {
    color: #999;
}
