#show {
    transform: translateX(0);
    transition: .9s;
}
#hide {
    transform: translateX(-150%);
    transition: .3s;
}
.form label {
    color: #aaa;
    font-size: .9rem;
    word-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form .mobile {
    color: red;
}