.part label {
    padding-right: 5px;
    padding-bottom: 3px;
    color: #aaa;
}

.part > div {
    position: relative;
    display: flex;
    align-items: center;
    height: 55px;
}

.part select {
    height: 100%;
    background-color: #222;
    border: 1px solid #252525;
    font-size: 1.2rem;
    color: #eee;
    padding: 12px 15px;
}
.part select:focus {
    background-color: #222;
    border: 1px solid #252525;
    outline: 1px solid #0288e000;
    box-shadow: none;
    color: #eee;
}

.loader {
    position: absolute;
    left: 15px;
    display: flex;
    align-items: center;
}