.booking {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    background-color: #222e;
    color: #0288e0;
    word-spacing: 2px;
    font-size: 1rem;
    padding: 6px 24px;
    padding-bottom: 7.5px;
    border-radius: 12px;
}