.duration {
    display: flex;
    align-items: center;
    gap: 5px;
}
.and {
    font-size: .85rem;
    color: #999;
}
.part {
    display: flex;
    align-items: center;
    gap: 3px;
}
.unit {
    font-size: .85rem;
    color: #999;
}