.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    padding: 1.5%;
    transform: translateY(150%);
    transition: .6s;
}
#open {
    transform: translateY(0);   
    opacity: 1;
}


.container > * {
    background-color: #1c1c1c;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.msg {
    color: #888;
    word-spacing: 1px;
    font-size: .9rem;
}