.form {
    width: 100%;
    padding: 20px 0;
    padding-top: 25px;
}
.form > span {
    padding-right: 5px;
    padding-bottom: 3px;
}
.form > div {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.form > * > * {   
    width: 50%;
    flex-grow: 1;
}
.form select {
    background-color: #222;
    border: 1px solid #252525;
    padding: 10px;
    color: #eee;
    font-size: 1rem;
    transition: .4s;
}
.form select:focus {
    background-color: #222;
    border: 1px solid #252525;
    outline: 1px solid #0288e0;
    box-shadow: none;
    color: #eee;
}