.part {
    padding: 20px 5%;
    padding-bottom: 0;
}
.add {
    transition: .5s;
}
#hide {
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: .85rem;
    color: #aaa;
}
.header > *:first-child {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-grow: 1;
}
.title {
    font-size: .75rem;
    color: #666;
}
.added {
    display: flex;
    flex-direction: column;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: .5s;
}
#show {
    opacity: 1;
    height: 60px;
}
.added > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    font-size: .8rem;
    color: #ddd;
}

.container {
    display: flex;
    align-items: center;
    gap: 8px;
}
.value {
    font-size: .85rem;
    color: #ddd;
    display: flex;
    align-items: center;
    gap: 5px;
}