.form {
    width: 100%;
}
.form > div {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.form > * > * {
    width: 50%;
    flex-grow: 1;
    padding: 10px;
}
.form select {
    background-color: #fff0;
    color: #ddd;
    width: 100%;
}