#show {
    transform: translateX(0);
}
#hide {
    transform: translateX(180%);
    transition: all .7s;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    word-spacing: 1px;
    padding-bottom: 5px;
    color: #777;
}