.title {
    padding-right: 5px;
    padding-bottom: 3px;
    color: #aaa;
}

.list {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
}

.loader {
    position: absolute;
    left: 15px;
    display: flex;
    align-items: center;
}