.price {
    display: flex;
    align-items: center;
    gap: 5px;
}

.start_from {
    font-size: .5rem;
    color: #666;
}

.value {
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: #eeeeee;
}

.unit {
    font-size: .7rem;
    color: #666;
}
