.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.form > div {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #252525;
}

.form label {
    padding-bottom: 3px;
    padding-right: 5px;
    color: #999;
    font-size: .9rem;
    word-spacing: 1px;
    width: 90px;
}
.form input {
    background-color: #2220;
    
    padding: 6px 12px;
    color: #eee;
}
.form input:focus {
    background-color: #2220;
    outline: none;
    box-shadow: none;
    color: #eee;
}